<body>

<div class="header1" id="top">
  <nav class="navbar navbar-expand-sm fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="#top">Nathan Lee</a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span> </span>
            <span> </span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#intro">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#projects">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="#contacts">Contact</a>
                </li>
            </ul>
        </div>
    </div>
  </nav>   

  <div class="text-center">
    <img src="./assets/test_pusheen.jpg" class="rounded-circle" alt="img">
    <h1 class="name font-size font-weight-bold">Nathan Lee</h1>
    <hr>
    <p class="headerintro">Full Stack Web Developer</p>
  </div>
</div>

<div class="intro" id="intro" >
    
</div>

<div class="portfolioProjects" id="projects">
    
</div>

<div class="contacts" id="contacts">
    
</div>

</body>