.jumbotron{
    height: 300px;
    background-color: transparent;
}

.navbar{
    background:transparent;
    background-color: rgba(255, 255, 255, 0);
    border-color:transparent;
    margin-bottom:0px;
    font-size:20px;
    transition-duration: 0.3s;
}

.navbar-toggler {
    border-color: silver;
}

.navbar.solid{
    transition-duration: 0.3s;
    background: white;
}

.navbar-brand{
    color: silver;
    font-size: large;
    transition-duration: 0.3s;
}

.nav-link{
    font-size: large;
    transition-duration: 0.3s;
    color:silver;
}

.navbar-brand.black{
    color: cadetblue;
    font-size: large;
    transition: all ease 0.3s;
}

.nav-link.black{
    font-size: large;
    transition-duration: 0.3s;
    color: black;
}

.rounded-circle{
    max-width: 275px;
}

.name{
    font-size: 80px;
    color: white;
    height: 120px;
}
 
.text-center{
    padding-top: 100px;
    height: 100%;
}

/*tags*/

hr{
    width: 150px;
    height: 2px;
    background-color: cadetblue;
}

h1{
    color: white;
    font-size: 8vw;
}

body, html{
    background-color: black;
    margin: 0px;
}

a:hover{
    color: cadetblue!important;
}

span{
    display: block;
    background-color: silver;
    height: 3px;
    width: 30px;
    margin-top: 6px;
    margin-bottom: 6px;
    left: 0;
    opacity: 1;
}

/*Div Sections*/
.header1{
    background-image: url("/assets/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.headerintro{
    color: white;
}

.intro{
    height: 700px;
    background-color: black;
}

.p_intro1{
    color: white;
    font-size: 30px;
}

.p_intro2{
    color: silver;
    font-size: 22px;
}

.portfolioProjects{
    height: 700px;
    background-color: silver;
}

.contacts{
    height: 500px;
    background-color: white;
}

.p_contact1{
    font-size: 30px;
}

.p_contact2{
    font-size: 22px;
}


